.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
perl/perl_tuis_auth/Makefile.old
php/.deps/
php/Makefile
php/Makefile.in
authd
authd.o
check_auth
check_auth.o
check_auth_bystr.o
perl/check_auth_bystr.o
perl/perl_tuis_auth/MYMETA.json
perl/perl_tuis_auth/MYMETA.yml
perl/perl_tuis_auth/blib/
perl/perl_tuis_auth/perl_tuis_auth.bs
perl/perl_tuis_auth/perl_tuis_auth.c
perl/perl_tuis_auth/perl_tuis_auth.o
perl/perl_tuis_auth/pm_to_blib
php/php_tuis_auth.o
php/php_tuis_auth.so
