.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
perl/perl_jbxl_auth/Makefile.old
php/.deps/
php/Makefile
php/Makefile.in
authd
authd.o
check_auth
check_auth.o
check_auth_bystr.o
perl/check_auth_bystr.o
perl/perl_jbxl_auth/MYMETA.json
perl/perl_jbxl_auth/MYMETA.yml
perl/perl_jbxl_auth/blib/
perl/perl_jbxl_auth/perl_jbxl_auth.bs
perl/perl_jbxl_auth/perl_jbxl_auth.c
perl/perl_jbxl_auth/perl_jbxl_auth.o
perl/perl_jbxl_auth/pm_to_blib
php/php_jbxl_auth.o
php/php_jbxl_auth.so
